body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
.text-color{
    color: lightsalmon;
    
}
h2,h3,h4,h5,h5{
    color: #1F1F1F;
}
#CONTACT{
    height: 300px;
}

#CONTACT h6{
    color: gray;
}

footer{
    text-align: center;
}
p {
    color: dimgrey;
  }
.buy-now-btn{
    background-image: linear-gradient(to bottom,  lightsalmon, tomato 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
h1 {
    font-size: 60px;
    font-weight: bold;
  }
.card-title{
    font-size: 25px;
    font-weight: bold;
    color: dimgrey;
}
.navbar-container{
    
    background-color:#262B37;
    position: sticky;
    top: 0;
    z-index:2;

}
.text-card{
    color: lightsalmon;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;

}
